{% extends "base.html" %} {% block content %}

<h1 class="my-4"></h1>
<form action="/tasks/create/" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_name">Имя</label
    ><input
      type="text"
      name="name"
      maxlength="150"
      class="form-control"
      placeholder="Имя"
      title=""
      required
      id="id_name"
    />
  </div>
  <div class="form-group">
    <label for="id_description">Описание</label
    ><textarea
      name="description"
      cols="40"
      rows="10"
      class="form-control"
      placeholder="Описание"
      title=""
      id="id_description"
    ></textarea>
  </div>
  <div class="form-group">
    <input type="hidden" name="author" value="{{ user.pk }}" />
  </div>
  <div class="form-group">
    <label for="id_status">Статус</label>
    <select name="status" class="form-control" title="" required id="id_status">
      <option value="" selected>---------</option>
      {% for status in statuses %}
      <option value="{{ status.pk }}">{{ status.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="id_executor">Исполнитель</label>
    <select name="executor" class="form-control" title="" required id="id_executor">
      <option value="" selected>---------</option>
      {% for user in users %}
      <option value="{{ user.pk }}">{{ user.first_name }} {{ user.last_name }} </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="id_labels">Метки</label>
    <select name="labels" class="form-control" title="" id="id_labels" multiple>
      {% for label in labels %}
      <option value="{{ label.pk }}">{{ label.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Создать" />
  </div>
</form>
  
{% endblock content %}
