{% extends "base.html" %}

{% block content %}



      <h1 class="my-4">
        
Статусы

      </h1>
      <a class="nav-link" href="/statuses/create/">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ul>
    {% for status in statuses %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td>
              <a href="/statuses/{{ status.pk }}/update/">Изменить</a>
              <br>
              <a href="/statuses/{{ status.pk }}/delete/">Удалить</a>
            </td>
        </tr>
    {% endfor %}
    </ul>
  </tbody>
</table>
{% endblock content %}