{% extends "base.html" %} {% block content %}
<h1 class="my-4">Изменение метки</h1>

<form action="{% url 'labels_update' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_name">Имя</label
    ><input
      type="text"
      name="name"
      value="{{ label.name }}"
      maxlength="150"
      class="form-control"
      placeholder="Имя"
      title=""
      required id="id_name"
    />
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Изменить" />
  </div>
</form>

{% endblock content %}
