{% extends "base.html" %} {% block content %}

<h1 class="my-4">Метки</h1>
<a class="nav-link" href="{% url 'label_create' %}">Создать метку</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <ul>
      {% for label in labels %}
      <tr>
        <td>{{ label.id }}</td>
        <td>{{ label.name }}</td>
        <td>{{ label.created_at }}</td>
        <td>
          <a href="{% url 'label_update' label.pk %}">Изменить</a>
          <br />
          <a href="{% url 'label_delete' label.pk %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </ul>
  </tbody>
</table>
{% endblock content %}
