{% extends "base.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">
      
Просмотр задачи

    </h1>
    
<div class="card">
<div class="card-header bg-secondary text-white">
  <h2>1231111111</h2>
</div>
<div class="card-body bg-light">
  <p>123</p>
  <hr>
  <div class="container">
    <div class="row p-1">
      <div class="col">Автор</div>
      <div class="col">Qw123 Qw123</div>
    </div>
    <div class="row p-1">
      <div class="col">Исполнитель</div>
      <div class="col">Ivan Petrov</div>
    </div>
    <div class="row p-1">
      <div class="col">Статус</div>
      <div class="col">2</div>
    </div>
    <div class="row p-1">
      <div class="col">Дата создания</div>
      <div class="col">29.03.2022 03:30</div>
    </div>
    <div class="row p-1">
      <div class="col">
        <h6>Метки:</h6>
        <ul>
          
        </ul>
      </div>
    </div>
    <div class="row p-1">
      <div class="col">
        <a href="/tasks/1/update/">Изменить</a>
        <br>
        <a href="/tasks/1/delete/">Удалить</a>
      </div>
    </div>
  </div>
</div>
</div>

  </div>
{% endblock content %}